html, body {
    overflow: hidden;
    background-color: #000;
}

.wrapper {
    overflow: hidden;
}

.sliding-background {
    height: 100vh;
    width: 300vw;
    /*
    background-image: url("../img/gomc-bg.jpg");
    */
    background-size: cover;
    background-repeat: repeat-x;
    background-position: left;
    animation: slide 20s linear infinite;
}

@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-600px, 0, 0);
    }
}

.title-text {
    color: #fff;
    stroke: black;
    stroke-width: 5;
    position: fixed;
    bottom: 5%;
    left: 5%;
    font-size: 5vw;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 3px 3px 100px 100px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 3px 3px 100px 100px rgba(0, 0, 0, 0.6);
    box-shadow: 3px 3px 100px 100px rgba(0, 0, 0, 0.6);
    z-index: 99;
    font-family: 'Satisfy', cursive;
}

.tags {
    color: #fff;
    stroke: black;
    stroke-width: 5;
    position: fixed;
    bottom: 5%;
    left: 5%;
    font-size: 1.5vw;
    z-index: 99;
    font-family: 'Poppins', sans-serif;
}

ul {
    display: inline-block;
    font-family: Arial, Verdana;
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

ul li {
    display: block;
    position: relative;
    float: left;
    text-align: center;
    padding: 0em 1.25em;
    font-weight: bold;
}

ul li:not(:last-child) { 
    border-right: solid 3px;
}

li ul {
    display: none;
}